# macOS
.DS_Store

# gradlew
.gradle/
output/

# Java
*/build/

# JetBrains (IntelliJ)
# Just ignore any IDE settings for now.
# See: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
**/.idea/