@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
}

.top {
    background-color: #292961;
    height: 8vh;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.topContent {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
    font-weight: 600;
    width: 190vh;
}

.content {
    background-color: #CACACA;
    height: 92vh;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content img {
    position: fixed;
    bottom: 0;
    right: 4%;
    width: 19%;
}

.content > div {
    display: flex;
    justify-content: space-around;
    width: 240vh;
    height: 74vh;
}

.form {
    background-color: white;
    border-radius: 2vh;
    width: 100vh;
    height: 75vh;
    box-shadow: 1vh 1vh 2vh darkgray;
}

.about {
    width: 60vh;
    color: white;
    margin-top: 3vh;
}

form {
    margin: 4vh auto 4vh auto;
    width: 85%;
    height: calc(100% - 8vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

form input {
    height: 5vh;
    border-radius: 4vh;
    outline-style: none;
    border: none;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
}

.link {
    background-color: #909090;
    width: 40vh;
    padding-left: 3vh;
    font-size: 1.7vh;
}

.link::placeholder {
    color: white;
    font-size: 2.2vh;
    font-weight: 600;
}

.line {
    width: 30vh;
    height: 0.3vh;
    margin-left: 5vh;
    background-color: #5A5A5A;
}

.selectPlugin {
    height: 40vh;
    width: 100%;
    background-color: #909090;
    border-radius: 2vh;
}

.contentPlugin {
    margin: 3vh;
    height: calc(100% - 3vh);
}

.scrollPlugin {
    width: 95%;
    font-size: 2vh;
    margin: 2.7vh auto 0 auto;
    overflow-y: auto;
    height: 29vh;
    color: white;
}

.scrollPlugin::-webkit-scrollbar {
    width: 0.75vh;
}

.scrollPlugin::-webkit-scrollbar-thumb {
    background: #5A5A5A;
    border-radius: 3vh;
}

.submit {
    background-color: #292961;
    width: 20vh;
    margin: 0 auto 0 auto;
    transform: translateX(-4vh);
    cursor: pointer;
}

.submit:hover {
    animation: infinite ease-in-out 1s hoverSubmit;
}


.toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 17vh;
}
.toggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.toggle input[type=checkbox]:checked + label {
    background: #383838;
}
.toggle input[type=checkbox]:checked + label:after {
    left: calc(100% - 0.5vh);
    transform: translateX(-100%);
}
.toggle label {
    cursor: pointer;
    width: 15vh;
    height: 3vh;
    background: rgba(0, 0, 0, 0.27);
    display: block;
    border-radius: 20vh;
    position: relative;
}
.toggle label:after {
    content: "";
    position: absolute;
    width: 3vh;
    height: 3vh;
    background: #fff;
    border-radius: 20vh;
    transition: 0.3s;
}
.toggle span {
    font-size: 2vh;
}



@keyframes hoverSubmit {
    0% {
        transform: scale(1) translateX(-4vh);
    }
    50% {
        transform: scale(1.1) translateX(-4vh);
    }
    100% {
        transform: scale(1) translateX(-4vh);
    }
}